/* 響應式設定 */
/* 
跨瀏覽器css3 mixins
*/
@import "_css3-mixins.scss";

/*
CSS3動畫, 請至helpers查詢模組參數, 然後把想要使用的動畫效果改成true即可
$use-動畫效果class: true;
使用方式: 在要使用效果的物件上設定animated 動畫效果class就可以了
*/
/* $use-bounceIn: true; */
$use-flipInY: true;
$use-flipOutY: true;
$use-rollIn:true;
$use-rollOut:true;
$use-bounceInUp: true;
@import "animate-sass-master/_animate.scss";

body{
	padding:0;
	margin:0;
	font-family: 'Lato', Verdana, Meiryo, "微軟正黑體", "Microsoft JhengHei";
	font-size:14px;
}

.resContainer{
	.resDocLayout{
		width:100%;
	}

	&#row0{
		z-index:2;

		#block0_2{
			background:#A2A2A2;
		}
	}

	&#row1{
		.resDocLayout{
			width:100%;
		}
	}

	&#footer{
		#footer_1{
			color:#fff;
			background:#000;
		}	
	}
	
}

/* slider2 style */
#myItemSlider2 .sliderContainer{
	 .sliderContainerNextBtn, .sliderContainerPrevBtn{
	 	opacity:0.5;
	 	background:#fff;
	 }
}

/* 
	- google nexus 10 landscape / galaxy tab 7.7,8,9,10.1 (1280px)
*/
@media (max-width:1280px){

}

/* 
	- ipad landscape / general screen landscape / galaxy tab (1024px)
*/
@media (max-width:1024px){

}

/* 
	- google nexus 7 landscape (966px)
	- google nexus 7 2 landscape (960px)
*/
@media (max-width:966px){

}

/* 
	- google nexus 10 portrait / galaxy tab 7.7,8,9,10.1 portrait (800px)
*/
@media (max-width:800px){
	#lang,#nav{
		display:none;
	}

	#logo_btn{
		float:right !important;
		width:120px !important;
		background:url("../_img/logo_btn.png");
		a{
			width:120px !important;
		}
	}

}

/*
	- ipad portrait / general screen portrait (768px)
*/
@media (max-width:768px){

}

/*
	- iphone 6 plus landscape (736px) 
*/
@media (max-width:736px){

}

/*
	- iphone 6 landscape (667px)
*/
@media (max-width:667px){

}

/* 
	- google nexus 7 portrait (604px)
	- google nexus 7 2 portrait (600px)
	- galaxy tab portrait (600px)
*/
@media (max-width:604px){

}

/* 
	- iphone 5 landscape (568px)
	- iphone 4 landscape (480px)
*/
@media (max-width:570px){

}

/* 
	- iphone 6 plus portrait (414px) 
	- galaxy note portrait (400px)
*/
@media (max-width:420px){

}

/* 
	- iphone 6 portrait (375px)
	- galaxy S portrait (360px)
	- iphone 5 portrait (320px)
	- iphone 4 portrait (320px)
*/
@media (max-width:380px){

}

/* print style */
@media print{

}